<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tag Search Login Page</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>
</head>

<body>

    <div id="app">
        <!--HEADER-->
        <header class="uk-box-shadow-small uk-animation-slide-top-medium uk-background-default">
            <div class="uk-container uk-container-expand">
                <nav class="uk-navbar" id="navbar" data-uk-navbar>
                    <div class="uk-navbar-left">
                        <a class="uk-navbar-item uk-logo" href="#">Tag Search</a>
                    </div>
                </nav>
            </div>
        </header>
        <!--/HEADER-->

        <div class="uk-section-xsmall uk-section-muted uk-animation-fade" uk-height-viewport>
            <div class="uk-width-1-1">
                <div class="uk-container">
                    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                        <div class="uk-width-1-1@m">
                            <div
                                class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                                <h3 class="uk-card-title uk-text-center">Login</h3>
                                <form action={{url_for("user.auth")}} method="post">
                                    <input type="hidden" id="csrf_token"  name="csrf_token" value="{{ csrf_token() }}"/>
                                    {% if error is defined %}
                                    <h6><span class="uk-text-bolder uk-text-danger">{{ error }}</span></h6>
                                    {% endif %}
                                    <div class="uk-margin">
                                        <div class="uk-inline uk-width-1-1">
                                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                                            <input id="username" name="username" class="uk-input uk-form-large uk-border-pill" type="text">
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline uk-width-1-1">
                                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                            <input id="password" name="password" class="uk-input uk-form-large uk-border-pill" type="password">
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1 uk-border-pill">
                                            Login
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
    
<script src={{ url_for('static', filename = 'admin.js') }}></script>
<link rel="stylesheet" href={{ url_for('static', filename = 'admin.css') }} />
<script>
    if (getCookie('token') != "") {
        window.location.href = '{{ url_for("user.home") }}';
    }
</script>
</html>